body{
	font-family:  PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
}
#txt {
    border: 1px solid #C8C8C8;
    font-size: 14px;
    color: #c8c8c8;
    width: 90%;
    padding: 10px;
    margin: 20px 5%;
    height: 100px;
    line-height: 20px;
    vertical-align: top;
}
.labelname{
	font-weight: 600 !important;
	color:#5b5b5b ;
}
.form-group{
	font-weight: 600 ;
}
.iconfont .d80909{
	color: #d80909 !important;
}

#suspend{
	padding: 5px 15px;
	border-radius: 5px;
	background-color: #ff9d00;
	color: #Fff;
	height: 32px;
	width: 98px;
}
.tac{
	height: 32px;
	float: right;
	width:120px ;

}
#recovery{
	padding: 5px 15px;
	border-radius: 5px;
	background-color:#3391ef;
	color: #Fff;
	display: none;
	height: 32px;
	width: 98px;
}
.tip{
	color: #ccc;
	float: left;
	width: 60%;
	height: 32px;

	font-size: 11px;
}
.yangshi{
	width: 90%;
	height: 32px;
	margin: 0 auto;
}
